<div class="home-main">
	
	<%= image_tag "menu-white.svg", class: "icon-menu", width: "24px" %>
	<div class="container">
		<div class="row">
			<div class="content col-md-6 col-md-offset-6">
				<h1>Create and share Stories</h1>
				<p><%= link_to "Learn More", about_path, class: "btn btn-primary" %></p>
			</div>
		</div>

	</div>
</div>
<div class="home-supporting">
	<div class="container">
		<div class="row">
			<h2>Relive and share your adventures</h2>
			<p>Stories automatically creates a digital journal filled with only your best photos.s</p>
		</div>
	</div>
</div>


<div class="home-secondary">
	<div class="container">
		<div class="row">

		</div>
	</div>
</div>


<div class="home-about">
	<div class="container">
		<h2>Create and share Stories</h2>
		<p><%= link_to "Learn More", about_path, class: "btn btn-primary" %></p>
	</div>
</div>
