
<div class="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	
	<%= image_tag "close-white.svg", class: "icon-close", width: "24px" %>
</div>

<div class="home-main">
	
	<%= image_tag "menu-white.svg", class: "icon-menu", width: "24px" %>
	<div class="container">
		<div class="row">
			<div class="content col-md-6 col-md-offset-6">
				<h1>Create and share Stories</h1>
				<p><a href="#about" class="btn btn-primary">Learn More</a></p>
			</div>
		</div>

	</div>
</div>
<div class="home-supporting">
	<div class="container">
		<div class="row">
			<h2>Relive and share your adventures</h2>
			<p>Stories automatically creates a digital journal filled with only your best photos.s</p>
		</div>
	</div>
</div>


<div class="home-secondary">
	<div class="container">
		<div class="row">

		</div>
	</div>
</div>


<div class="home-about">
	<div class="container">
		<h2>Create and share Stories</h2>
		<p><a href="#about" class="btn btn-primary">Learn More</a></p>
	</div>
</div>


<div class="footer">
	<div class="container">
		<p>A Shutterbugg Project</p>
	</div>
</div>