
<div class="contact-main">
	
	<%= image_tag "menu-white.svg", class: "icon-menu", width: "24px" %>
	<div class="content container">
		
		<h1>Thank You! We will be in touch soon.</h1>
		
	</div>
</div>
