<div class="menu">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><a href="#">Contact</a></li>
	</ul>
	
	<%= image_tag "close-white.svg", class: "icon-close", width: "24px" %>
</div>